[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh-nvm"]
	path = zsh-nvm
	url = https://github.com/lukechilds/zsh-nvm.git
[submodule "kickstart.nvim"]
	path = kickstart.nvim
	url = git@github.com:jmaver-plume/kickstart.nvim.git
[submodule "zsh-you-should-use"]
	path = zsh-you-should-use
	url = https://github.com/MichaelAquilina/zsh-you-should-use.git
[submodule "fzf-tab"]
	path = fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
